/* General */
html {
    background-color: #fff;
    height: 100%;
}

body {
    font: 16px/26px Arial, Helvetica, sans-serif;
    width: 100%;
    padding: 10px 10px;
    margin: 2% 10%;
    background: #fff;
    color: #000;
}

a {
    color: #004b91;
    text-decoration: none;
}

a:visited {
    color: #136;
}

a:hover {
    color: #f60;
    text-decoration: underline;
}

a:active {
    color: #000;
}

a img {
    border: 0;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

/* Table style */
.table-style {
    min-width: 80%;
    max-width: 100%;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: "museo-sans", sans-serif;
    border-radius: 10px;
    -webkit-border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
    -moz-border-radius: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border: 2px solid #BCBABA;
}

.table-style td {
    border-bottom: 1px solid #BCBABA;
    padding: 5px;
    text-align: left;
    vertical-align: middle;
    font-weight: bold;
    font-size: 14px;
}

.table-style th, .table-style td {
    border: 1px solid #BCBABA;
    border-top-color: #FFF;
    border-right: none;
    padding: 8px 5px 8px 5px;
    text-align: left;
    vertical-align: middle;
    margin: 0;
}

.table-style th {
    background-color: #f0f0f0;
}

tr:nth-child(even) {
    background: rgba(204, 204, 204, 0.08);
}

tr:hover {
    background: rgba(188, 186, 186, 0.56);
}

.table-style th:nth-child(2),
.table-style td:nth-child(2),
.table-style th:nth-child(4),
.table-style td:nth-child(4),
.table-style th:nth-child(6),
.table-style td:nth-child(6) {
    text-align: right;
    width: 100px;
}

.table-style th:nth-child(3),
.table-style td:nth-child(3),
.table-style th:nth-child(5),
.table-style td:nth-child(5),
.table-style th:nth-child(7),
.table-style td:nth-child(7) {
    width: 10px;
}

.table-style th:nth-child(7),
.table-style td:nth-child(7) {
    width: 10px;

}

.table-style th:nth-child(8),
.table-style td:nth-child(8) {
    width: 35px;
    border-left: none;
    text-align: left;
}

/* Overlay Table Header */
.table-style th {
    position: relative;
    background: #e4e4e4;
    text-align: left;
    font-size: 1.083em;
    line-height: 1.538em;
    padding: 6px 10px 5px 23px;
    color: #000;
    border-color: #BCBABA;
    font-weight: 900;
    border-bottom: thick #000 !important;
}

/* Overlay Table Header */
.table-style th:nth-child(2)::before,
.table-style th:nth-child(4)::before,
.table-style th:nth-child(6)::before {
    content: '';
    display: inline-block;
    position: absolute;
    text-align: right !important;
    left: -1px;
    right: -1px;
    top: -20px;
    height: 20px;
    background-color: #e4e4e4;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: solid 1px #BCBABA;
    border-bottom: none;
}

/* Highlight Styles */
.table-style th:nth-child(2) {
    color: #000;
    background-color: #f6cdb1;
}

.table-style th:nth-child(2)::before {
    background-color: #f6cdb1;
    border: 1px solid #eb9256;
    border-bottom: none;
    border-left: 1px solid #f97527;
    border-right: 1px solid #feeee5;
}

.table-style th:nth-child(2),
.table-style td:nth-child(2) {
    border-left: 1px solid #f97527;
    border-right: 1px solid #feeee5;
    border-bottom: dotted;
}

.table-style td:nth-child(2),
.table-style td:nth-child(3),
.table-style td:nth-child(4),
.table-style td:nth-child(5),
.table-style td:nth-child(6) {
    border-bottom: dotted #ccc;
}

.table-style tr:last-child td:nth-child(3),
.table-style tr:last-child td:nth-child(5) {
    border-bottom: thick #000 !important;
}

/* Overlay Table Footer */
.table-style tfoot td {
    position: relative;
}

.table-style tfoot tr:last-child td:nth-child(2)::before,
.table-style tfoot tr:last-child td:nth-child(4)::before,
.table-style tfoot tr:last-child td:nth-child(6)::before {
    content: '';
    display: inline-block;
    position: absolute;
    left: -1px;
    right: -1px;
    bottom: -20px;
    height: 20px;
    background-color: #e4e4e4;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: solid 1px #BCBABA;
    border-top: none;
}

/* Highlight Styles */
.table-style tfoot tr:last-child td:nth-child(2)::before {
    background-color: #f6cdb1;
    border: solid 1px #eb9256;
    border-top: none;
}

.amount {
    color: #c2100d;
}

.market_place {

}

.market_place img {
    cursor: pointer;
}

.form-input {
    margin-top: 30px;
}

.other-format-input {
    padding-left: 5px;
    border-radius: 5px;
    border: 1px solid #bbb;
    width: 31%;
    height: 24px;
}

.price-input {
    padding-left: 5px;
    border-radius: 5px;
    border: 1px solid #bbb;
    width: 13%;
    height: 24px;
}

.new-form-input {
    padding-left: 5px;
    border-radius: 5px;
    border: 1px solid #bbb;
    width: 13%;
    height: 24px;
}

.used-form-input {
    padding-left: 5px;
    border-radius: 5px;
    border: 1px solid #bbb;
    width: 11%;
    height: 24px;
}

.btn {
    margin: 10px 0px;
    padding: 0px 10px;
    font-size: 12px;
    font-weight: bold;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #e5e5e5;
    color: #204995;
    height: 30px;
    width: 130px;
}

.btn:disabled,
.btn[disabled] {
    color: #908e8e;
}